@model List<RapidApiBookingHotelViewModel.Result>
@{
    Layout = null;
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Otel Adı</th>
        <th>Puanı</th>
    </tr>
    @foreach (var x in Model)
    {
        count++;
        <tr><td>@count</td>
            <td>@x.review_score</td>
            <td>@x.hotel_name</td>
        </tr>
    }
</table>